{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/parlementaires.css">
{% endblock %}

{% block content %}

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h1>PRESENTATION</h1>
                </div>
            </div>

            {% for value in Articles %}
                {% if value.id%2==1 %}
                    <div class="row element">
                        <div class="col-xs-12 col-md-1"></div>
                        <div class="col-xs-12 col-md-3">
                            <img class="illustration center-block" src="{{ value.urlImage }}">
                        </div>
                        <div class="col-xs-12 col-md-7">
                            <h2>{{ value.titre | upper }}</h2>
                            <p>{{ value.texte }}</p>
                        </div>
                        <div class="col-xs-12 col-md-1"></div>
                    </div>

                {% else %}
                    <hr>

                    <div class="row element">
                        <div class="col-xs-12 col-md-1"></div>
                        <div class="col-xs-12 col-md-7">
                            <h2>{{ value.titre | upper }}</h2>
                            <p>{{ value.texte }}</p>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <img class="illustration center-block" src="{{ value.urlImage }}">
                        </div>
                        <div class="col-xs-12 col-md-1"></div>
                    </div>
                {% endif %}
            {% endfor %}

    </section>

    {% endblock %}
