{% extends 'layout.html.twig' %}
{% block title %}Page de localisation{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/formulaire_reservation.css">{% endblock %}



  {% block content %}


<section>
      <div class="container-fluid">
          <div class="row">
              <div class="col-xs-12">
                  <h1>RÉSERVATION / BOOKING</h1>
              </div>
          </div>
          <br>
          <br>
          <div class="row">
              <div class="col-xs-6">
                  <form action="">
                      <!--  General -->
                      <div class="form-group">
                          <h2>Réservation & contact / Booking & contact</h2>
                          <div class="input-group">
                              <span class="input-group-addon" id="">Nom / Name</span>
                              <input type="text" class="form-control">
                          </div>
                          <br>
                          <div class="input-group">
                              <span class="input-group-addon" id="">@</span>
                              <input type="text" class="form-control">
                          </div>
                          <br>
                          <div class="input-group">
                              <span class="input-group-addon" id="">Téléphone / Phone</span>
                              <input type="text" class="form-control">
                          </div>
                      </div>


                      <!--  Details -->
                      <div class="form-group">
                          <h2>Details</h2>
                          <div class="row">
                              <div class="col-xs-6">
                                  <div class="controls">
                                      <label for="arrive" class="label-date">&nbsp;&nbsp;Arrive</label>
                                      <input type="date" id="arrive" class="form-control" name="arrive"
                                             value="<?php echo date('d-m-Y'); ?>">
                                  </div>
                              </div>
                              <div class="col-xs-6">
                                  <div class="controls">
                                      <label for="depart" class="label-date">&nbsp;&nbsp;Depart</label>
                                      <input type="date" id="depart" class="form-control" name="depart"
                                             value="<?php echo date('d-m-Y'); ?>"/>
                                  </div>
                              </div>
                          </div>
                          <br>
                          <div class="row">
                              <div class="col-xs-6">
                                  <div class="controls">
                                      <label for="bathroom">Salle d'eau / Bathroom</label>
                                      <select class="form-control">
                                          <option value="bath" selected>Baththub / Baignoire</option>
                                          <option value="shower">Shower/Douche</option>
                                      </select>
                                  </div>
                              </div>
                              <div class="col-xs-6">
                                  <div class="controls">
                                      <label for="fruit">Literie / Bedding</label>
                                      <select class="form-control">
                                          <option value="single-bed">Lit simple / Single Bed</option>
                                          <option value="double-bed" selected>Lit double / Double Bed</option>
                                      </select>
                                  </div>
                              </div>

                          </div>
                      </div> <!-- /.form-group -->
                  </form>
              </div>
              <div class="col-xs-6">
                  <div class="col-md-9">
                      <div class="row">
                          <div class="col-md-10">
                              <h1>{{ monthTS }}</h1>
                          </div>
                          <div class="col-md-2">
                              <p></p> <a href="/Reservation/{{ previousMonth }}/{{ previousYear }}"
                                         class="btn-calender">&lt;</a>
                              <a href="/Reservation/{{ nextMonth }}/{{ nextYear }}" class="btn-calender">&gt;</a></p>
                          </div>

                      </div>
                      <table class="calendar__table calendar__table--{{ month.getweeks() }}weeks">
                          {% set date = cloneStart.modify("-1 day") %}
                          {% for i in 0..weeks %}
                              <tr>
                                  {% for k, day in days %}
                                      {% if i == 0 %}
                                      <td class="{% if (month.withinMonth(date)) %}{% else %}calendar__otherMonth{% endif %}">
                                          <div class="calendar__weekday">{{ day }}</div>
                                      {% else %}
                                          {% set date = date.modify("+1 day") %}

                                          <td class="{% if (month.withinMonth(date)) %}  {% else %}calendar__otherMonth{% endif %}">
                                          <div class="calendar__day">{{ date.format('d') }}</div>
                                      {% endif %}

                                      </td>
                                  {% endfor %}
                              </tr>
                          {% endfor %}
                      </table>
                  </div>
              </div>
          </div>
      </div>
</section>


  {% endblock %}