{% extends 'layout.html.twig' %}
{% block title %}Page d'accueil{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/accueil.css">{% endblock %}
  {% block content %}


      <section>
          <!--Carrousel-->
          <div class="slider">
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Carousel indicators -->
                  <ol class="carousel-indicators">
                      {% for i,entity in diapoAccueil %}
                      <li data-target="#myCarousel" data-slide-to="{{ i }}" {% if i==0 %}class="active"{% endif %}></li>
                      {% endfor %}
                  </ol>
                  <!-- Wrapper for carousel items -->
                  <div class="carousel-inner">
                      {% for entity in diapoAccueil %}
                          <div class="item {% if loop.index == 1 %} active {% endif %}">
                              <!-- le reste des images -->
                              <img src="{{ entity.urlImage }}" alt="Other Slide">
                          </div>
                      {% endfor %}
                  </div>
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">

                  </div>
                  <!-- Carousel controls -->
                  <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>

                  </a>
                  <a class="carousel-control right" href="#myCarousel" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>

                  </a>
              </div>






              <div class="container-fluid">
                  <div class="row">
                      <div class="col-xs-12">
                          <h1>PRÉSENTATION</h1>
                      </div>
                  </div>
                  {% for value in accueil %}
                      {% if value.id%2==1 %}
                          <div class="row element">

                              <div class="column col-xs-12 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1" id = "zoomIn">
                                  <img class="illustration center-block" src="{{ value.urlImage }}">
                              </div>
                              <div class="col-xs-12 col-md-6 col-md-offset-1 col-lg-6">
                                  <h2>{{ value.titre | upper }}</h2>
                                  <p>{{ value.texte }}</p>
                              </div>

                          </div>

                      {% else %}
                          <hr>
                          <div class="row element">

                              <div class="col-xs-12 col-md-6 col-md-offset-1 col-lg-6 col-lg-offset-1">
                                  <h2>{{ value.titre | upper }}</h2>
                                  <p>{{ value.texte }}</p>
                              </div>
                              <div class="column col-xs-12 col-md-3 col-md-offset-1" id = "zoomIn">
                                  <img class="illustration center-block" src="{{ value.urlImage }}">
                              </div>

                          </div>
                      {% endif %}
                  {% endfor %}



      </section>
  {% endblock %}

